<h1>Create Form</h1>
<form action="/tasks/create" method="POST">
  <input type="text" name="title" placeholder="title" /><br>
  <input type="text" name="description" placeholder="description" /><br>
  <button type="submit">SAVE</button>
</form>